body {
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

/* -- APOD BILDEN -- */
.apod-image {
    background-image: url(images/Peace.jpg);
    position: absolute;
    justify-content: center;
    width: 50%;
    height: 60%;
    bottom: 30%;
    border-radius: 20px;
    animation: shadow-animation 5s infinite alternate;
    opacity: 0.95;
    background-size: cover;
    z-index: 1;
}

@keyframes shadow-animation {
    0% {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7), 0 0 10px 5px rgba(0, 0, 0, 0.5) inset, 0 0 20px #d400d4;
    }

    100% {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7), 0 0 10px 5px rgba(0, 0, 0, 0.5) inset, 0 0 20px #00ccff;
    }
}
/* -- APOD BILDEN -- */

/* -- APOD BESKRIVNINGEN -- */
.apod-description {
    font-family: "Seguio UI", sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1 rem;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 10px rgba(212, 0, 212, 0.8);
    animation: shine 2s infinite;
}

@keyframes shine {
    0% {
        text-shadow: 0 0 10px rgba(212, 0, 212, 0.8);
    }

    50% {
        text-shadow: 0 0 20px rgba(212, 0, 212, 0.8);
    }

    100% {
        text-shadow: 0 0 10px rgba(212, 0, 212, 0.8);
    }
}



/* THE BUTTON */

.container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
}

.container a {
    position: relative;
    width: 160px;
    height: 60px;
    display: inline-block;
    background: #fff;
    margin: 20px;
}

.container a:before,
.container a:after {
    content: '';
    position: absolute;
    inset: 0;
    background: #f00;
    transition: 0.5s;

}

.container a:nth-child(1):before,
.container a:nth-child(1):after {
    background: linear-gradient(45deg, #00ccff, #0e1538, #0e1538, #d400d4);
}

.container a:hover:before {
    inset: -3px;
}

.container a:hover:after {
    inset: -3px;
    filter: blur(10px);
}

.container a span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: #0e1538;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
    border: 1px solid #040a29;
    overflow: hidden;
}

.container a span:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.075);
    transform: skew(25deg);
}

/* THE BUTTON */




.box {
    width: 450px;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}